body {
    font-family: 'Oswald', sans-serif;
}

.topNav {
    padding-left: 10px;
    line-height: .5;
    border: 5px solid black;
}

.current__date {
    text-align: center;
}

.bill__item {
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
} 

.input__bills {
    text-align:center;
    padding: 20px;
    border: 5px solid green;
    width: 50%;
}

.bill_due {
    background-color: rgb(171, 38, 38);
    color: beige;
}